<div class="row fixed-bottom">
    <div class="col-12">
        <ul class="nav nav-pills nav-justified xf-nav-bottom bg-body-tertiary" id="pills-tab" role="tablist">
            <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="pill" data-bs-target=".xf-player-ku">
                    <i class="bi bi-grid-3x3-gap-fill"></i><br>
                    音乐库
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-link" data-bs-toggle="pill" data-bs-target=".xf-player-playing">
                    <i class="bi bi-soundwave"></i><br>
                    播放中
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-link" data-bs-toggle="pill" data-bs-target=".xf-player-list">
                    <i class="bi bi-music-note-list"></i><br>
                    播放列表
                </button>
            </li>
        </ul>
    </div>
</div>