{% extends 'player/base.html' %}
{% block content %}


<div class="tab-content" id="xf-tab-content">
  <div class="tab-pane fade show active xf-player-ku" role="tabpanel" aria-labelledby="player-ku-tab" tabindex="0">
    {% include 'player/ku.html' %}
  </div>
  <div class="tab-pane fade xf-player-playing" role="tabpanel" aria-labelledby="player-playing-tab" tabindex="0">
    {% include 'player/playing.html' %}
  </div>
  <div class="tab-pane fade xf-player-list" role="tabpanel" aria-labelledby="player-list-tab" tabindex="0">
    {% include 'player/list.html' %}
  </div>
</div>
{% endblock content %}