<div class="row">
    <div class="col">
        <h6>你的位置：</h6>
        <nav aria-label="breadcrumb"  style="--bs-breadcrumb-divider: '>';" >
            <ol class="breadcrumb xf-breadcrumb-ku">
                <li class="breadcrumb-item">首页</li>
            </ol>
        </nav>
    </div>
</div>
<!-- <div class="row">
    <div class="col d-flex justify-content-between">
        <button class="btn btn-sm btn-outline-danger">播放整个列表</button>
    </div>
</div> -->
<div class="row">
    <div class="col">
        <table class="table table align-middle fs-5">
            <thead>
              <tr class="fs-6">
                <th class="col-2"><i class="bi bi-music-note-beamed"></i> 标题</th>
                <th class="col-1"><div class="text-end">操作</div></th>
              </tr>
            </thead>
            <tbody class="xf-tbody-ku">
                <!-- {% for i in '01234567890123456789'|make_list %}
              <tr>
                <td>
                    标题标题标题标题标题标题标题标题标题 
                </td>
                <td>
                    <div class="text-end">
                        <button class="btn "><i class="bi bi-play-circle text-primary"></i></button>
                        <button class="btn "><i class="bi bi-file-earmark-plus text-danger"></i></button>
                    </div>
                </td>
              </tr>
              {% endfor %} -->
            </tbody>
        </table>
    </div>
</div>
