<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="apple-mobile-web-app-title" content="音乐播放器">
    <title>Player</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet">
    {% load static %}
    {% load django_bootstrap5 %}
    <link type="text/css" rel="stylesheet" href="{% static 'music_player.css' %}">
</head>
<body>
    
    <div class="container-fluid mt-2">
        <div class="card text-bg-light mt-5">
            <div class="card-body">
                <h1 class="text-center">播放器登录</h1>
                <form action="{% url 'accounts:login' %}" method='post'>
                {% csrf_token %}
                    {% bootstrap_form form %}
                    {% bootstrap_button button_type="submit" content="登陆" %}
                </form>
            </div>
          </div>
    </div>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.7.1/jquery.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>